.header {
  background-image: url("../assets/banner_horario.jpg");
}

.content {
  width: 96%;
}

.content table tbody tr:nth-child(even) {
  background-color: #e5e5e5;
}

.content table {
  border: 1px solid #000;
}

.content table thead {
  background-color: #000;
  color: #fff;
}
